@keyframes fade-in{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-webkit-keyframes fade-in{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fade-in-move-down{
    0%{
        opacity:0;
        -webkit-transform:translateY(-3rem);
        transform:translateY(-3rem)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@-webkit-keyframes fade-in-move-down{
    0%{
        opacity:0;
        -webkit-transform:translateY(-3rem);
        transform:translateY(-3rem)
    }
    to{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
:root{
    --text-color-heading:hsl(0, 0%, 26.7%)
}
@media (prefers-color-scheme:dark){
    :root{
        --background-color:hsl(203.6, 100%, 12%);
        --link-color:hsl(206.7, 100%, 70%);
        --text-color:hsl(240, 1.3%, 84.5%);
        --text-color-light:hsl(0, 0%, 33.3%);
        --text-color-heading:hsl(120, 100%, 99.8%);
        --text-color-coolgray:hsl(240, 2.3%, 56.7%);
        --inverse-text-color:hsl(0, 0%, 100%);
        --content-background-color:hsl(120, 2%, 9%);
        --code-background-color:hsl(120, 1%, 19.4%);
        --code-border-color:hsl(0, 0%, 26.7%);
        --code-text-color:hsl(180, 6.9%, 84.5%);
        --header-menu-shadow:0px 5px 5px hsla(0, 0%, 0%, 0.1);
        --header-menu-background-color:hsla(0, 0%, 0%, 0.8);
        --article-border-color:hsl(120, 4.1%, 19.2%);
        --syntax-color-keyword:hsl(299.17, 70.59%, 80%);
        --syntax-color-keyword-operator:hsl(299.17, 70.59%, 80%);
        --syntax-color-keyword-type:hsl(299.17, 70.59%, 80%);
        --syntax-color-comment:hsl(118.95, 39.86%, 71.96%);
        --syntax-color-number:hsl(299.17, 70.59%, 80%);
        --syntax-color-operator:hsl(180, 6.9%, 60.4%);
        --syntax-color-doctype:hsl(0, 0%, 42%);
        --syntax-color-property:hsl(299.2, 58.7%, 51.6%);
        --syntax-color-xml-comment:hsl(118.95, 39.86%, 71.96%);
        --syntax-color-xml-meta:hsl(180, 50%, 40%);
        --syntax-color-css-selector:hsl(240, 1.3%, 84.5%);
        --syntax-color-css-number:hsl(275.53, 100%, 85.1%) --code-selection-background-color: hsl(214.2, 42.9%, 32.9%)
    }
}
a,code,div,footer,h1,h2,h3,li,menu,nav,p,pre,span,time,ul{
    margin:0
}
body{
    color:var(--text-color)
}
p:empty{
    display:none
}
p:hover>a[name]::before{
    opacity:1
}
code .keyword,code.html .tag{
    color:#708;
    color:var(--syntax-color-keyword)
}
code .keyword.type{
    color:#cb4b16;
    color:var(--syntax-color-keyword-type)
}
code .comment{
    color:#93a1a1;
    color:var(--syntax-color-comment);
    float:none;
    display:inline
}
code .string{
    color:#5b6e04;
    color:var(--syntax-color-string)
}
code .number,code .tag{
    color:#586e75;
    color:var(--syntax-color-number)
}
code .operator{
    color:#888;
    color:var(--syntax-color-operator)
}
code .keyword.operator{
    color:#a90007;
    color:var(--syntax-color-keyword-operator)
}
code .doctype{
    color:silver;
    color:var(--syntax-color-doctype)
}
code .property{
    color:#881391;
    color:var(--syntax-color-property)
}
code.html .comment,code.xml .comment{
    color:#007400;
    color:var(--syntax-color-xml-comment)
}
code.xml .meta,code.xml .meta .keyword{
    color:#399;
    color:var(--syntax-color-xml-meta)
}
main h1{
    margin:0 auto 3rem;
    font-size:5.6rem;
    font-weight:500;
    letter-spacing:.004rem;
    line-height:1.10746;
    text-align:center;
    text-decoration:none;
    color:#444;
    color:var(--text-color-heading)
}
.image{
    padding:var(--image-padding) var(--image-padding)0;
    --image-padding:0.5em
}
li .image,p .image{
    --image-padding:0
}
footer nav li:first-child{
    padding-left:0
}
@media only screen and (max-width:1015px){
    header .menu{
        display:none;
        position:absolute;
        left:0;
        margin-top:1px;
        padding-top:3rem;
        text-align:left;
        width:100vw;
        overflow:hidden;
        box-shadow:0 5px 5px rgba(0,0,0,.1);
        box-shadow:var(--header-menu-shadow);
        backdrop-filter:blur(20px);
        -webkit-backdrop-filter:blur(10px);
        background-color:rgba(255,255,255,.8);
        background-color:var(--header-menu-background-color)
    }
    header nav a{
        color:hsl(0,0,100%);
        color:var(--text-color)
    }
    header nav>.menu{
        position:relative
    }
    footer nav li{
        padding:0 3rem 3rem 0
    }
}
@media only screen and (max-width:600px){
    header{
        padding-top:1rem
    }
}
@media only screen and (max-height:415px) and (max-width:920px){
    header{
        padding-top:1rem
    }
    @supports (padding:max(0px)){
        #content,footer,header,header .menu{
            box-sizing:border-box;
            padding-left:env(safe-area-inset-left);
            padding-right:env(safe-area-inset-right)
        }
    }
}
:root{
    --background-color:hsl(203.6, 100%, 12%);
    --link-color:hsl(200, 100%, 40%);
    --text-color:hsl(0, 0%, 20%);
    --text-color-light:hsl(0, 0%, 87%);
    --text-color-coolgray:hsl(240, 2.3%, 56.7%);
    --inverse-text-color:hsl(0, 0%, 100%);
    --content-background-color:hsl(0, 0%, 96.9%);
    --code-background-color:hsl(0, 0%, 94.9%);
    --code-border-color:hsl(0, 0%, 90.6%);
    --code-text-color:hsl(0, 0%, 26.7%);
    --header-menu-shadow:0px 5px 5px hsla(0, 0%, 0%, 0.1);
    --header-menu-background-color:hsla(0, 0%, 100%, 0.8);
    --article-border-color:hsl(0, 0%, 90.6%);
    --syntax-color-keyword:hsl(292.5, 100%, 26.7%);
    --syntax-color-keyword-operator:hsl(357.5, 100%, 33.1%);
    --syntax-color-keyword-type:hsl(17.6, 80.4%, 44.1%);
    --syntax-color-comment:hsl(180, 6.9%, 60.4%);
    --syntax-color-number:hsl(194.5, 14.1%, 40.2%);
    --syntax-color-operator:hsl(0, 0%, 53.3%);
    --syntax-color-doctype:hsl(0, 0%, 75.3%);
    --syntax-color-property:hsl(295.7, 76.8%, 32.2%);
    --syntax-color-xml-comment:hsl(120, 100%, 22.7%);
    --syntax-color-xml-meta:hsl(180, 50%, 40%);
    --syntax-color-css-selector:hsl(0, 0%, 0%);
    --syntax-color-css-number:hsl(248.1, 100%, 40.6%);
    --code-selection-background-color:hsl(212.3, 97.8%, 81.8%)
}
@media (prefers-color-scheme:dark){
    :root{
        --background-color:hsl(203.6, 100%, 12%);
        --link-color:hsl(206.7, 100%, 70%);
        --text-color:hsl(240, 1.3%, 84.5%);
        --text-color-light:hsl(0, 0%, 33.3%);
        --text-color-coolgray:hsl(240, 2.3%, 56.7%);
        --inverse-text-color:hsl(0, 0%, 100%);
        --content-background-color:hsl(120, 2%, 9%);
        --code-background-color:hsl(120, 1%, 19.4%);
        --code-border-color:hsl(0, 0%, 26.7%);
        --code-text-color:hsl(180, 6.9%, 84.5%);
        --header-menu-shadow:0px 5px 5px hsla(0, 0%, 0%, 0.1);
        --header-menu-background-color:hsla(0, 0%, 0%, 0.8);
        --article-border-color:hsl(120, 4.1%, 19.2%);
        --syntax-color-keyword:hsl(299.17, 70.59%, 80%);
        --syntax-color-keyword-operator:hsl(299.17, 70.59%, 80%);
        --syntax-color-keyword-type:hsl(299.17, 70.59%, 80%);
        --syntax-color-comment:hsl(118.95, 39.86%, 71.96%);
        --syntax-color-number:hsl(299.17, 70.59%, 80%);
        --syntax-color-operator:hsl(180, 6.9%, 60.4%);
        --syntax-color-doctype:hsl(0, 0%, 42%);
        --syntax-color-property:hsl(299.2, 58.7%, 51.6%);
        --syntax-color-xml-comment:hsl(118.95, 39.86%, 71.96%);
        --syntax-color-xml-meta:hsl(180, 50%, 40%);
        --syntax-color-css-selector:hsl(240, 1.3%, 84.5%);
        --syntax-color-css-number:hsl(275.53, 100%, 85.1%) --code-selection-background-color: hsl(214.2, 42.9%, 32.9%)
    }
}
body,header,html{
    border:0;
    font:inherit;
    vertical-align:baseline
}
a,div,footer,h1,h2,h3,li,menu,nav,p,span,time,ul{
    border:0
}
a,code,div,footer,h1,h2,h3,li,menu,nav,p,pre,span,table,time,ul{
    padding:0;
    font:inherit;
    vertical-align:baseline
}
table{
    border:0;
    border-collapse:collapse;
    border-spacing:0;
    margin:1em 0
}
footer,header,menu,nav{
    display:block
}
h1,h2,h3,html{
    font-family:-apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Cantarell,Ubuntu,roboto,noto,arial,sans-serif
}
html{
    font-size:62.5%;
    font-synthesis:none
}
body{
    font-size:1.7rem;
    font-weight:400;
    line-height:1.52947;
    letter-spacing:-.021rem;
    background-color:#00253d;
    color:#333
}
ul{
    list-style:none
}
a{
    transition:color 500ms cubic-bezier(.19,1,.22,1)
}
a:hover{
    text-decoration:underline
}
a,a>code,a[name]:hover,a[name]:hover::before{
    color:#08c;
    color:var(--link-color)
}
a,a[name]:hover,h1 a:hover{
    text-decoration:none
}
code{
    font-family:Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    font-size:80%;
    padding:0 .5rem;
    border-radius:2px;
    border:1px solid #e7e7e7;
    border-color:var(--code-border-color);
    background-color:#f2f2f2;
    background-color:var(--code-background-color);
    color:#444;
    color:var(--code-text-color);
    font-size:1.6rem;
    line-height:2.5rem;
    word-break:break-all
}
a[name],header,header nav>.menu{
    position:relative
}
a[name]{
    display:inline-block;
    top:-3rem;
    color:#ddd;
    color:var(--text-color-light);
    width:0;
    text-decoration:none
}
p>a[name]::before{
    content:"#";
    margin-left:-1.7rem;
    position:relative;
    top:3rem;
    color:#8e8e93;
    color:var(--text-color-coolgray);
    transition:color 500ms cubic-bezier(.19,1,.22,1),opacity 500ms ease-in;
    opacity:.3
}
h1,h2,h3{
    text-rendering:optimizeLegibility
}
h1 a[name],h2 a[name],h3 a[name]{
    display:block;
    visibility:hidden
}
header{
    overflow:visible;
    width:100vw;
    max-width:100%;
    padding-top:1.5rem;
    margin:0;
    z-index:500
}
*,footer,pre{
    box-sizing:border-box
}
footer{
    content:"";
    display:table;
    clear:both;
    width:100%;
    padding-bottom:1.65rem
}
footer .menu{
    font-size:1.3rem
}
pre{
    width:calc(100% + 6rem);
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    background-color:#f2f2f2;
    background-color:var(--code-background-color);
    border:1px solid #e7e7e7;
    border-color:var(--code-border-color);
    border-radius:2px;
    padding:3rem;
    margin-left:-3rem
}
pre code{
    border:0;
    padding:0
}
pre span::-moz-selection,pre::-moz-selection{
    background-color:#a3cdfe;
    background-color:var(--code-selection-background-color)
}
pre span::selection,pre::selection{
    background-color:#a3cdfe;
    background-color:var(--code-selection-background-color)
}
code.css .keyword{
    color:#000;
    color:var(--syntax-color-css-selector)
}
code.css .number{
    color:#1c00cf;
    color:var(--syntax-color-css-number)
}
header nav{
    text-align:right;
    -webkit-user-select:none;
    user-select:none
}
footer nav{
    padding:1.65rem 0 0
}
footer nav li,header nav li{
    display:inline-block
}
header nav li{
    padding:1.5rem 0 1.5rem 1.5rem
}
footer nav li{
    position:relative;
    padding:0 3rem 3rem 0
}
footer nav a,header nav a{
    position:relative;
    display:inline-block;
    text-decoration:none;
    font-size:1.4rem;
    line-height:1.5455;
    letter-spacing:-.015rem;
    letter-spacing:0;
    cursor:pointer;
    font-weight:500;
    color:#fff;
    color:var(--inverse-text-color)
}
header nav a{
    color:hsl(0,0,100%);
    color:var(--text-color)
}
footer nav a:hover,header nav a:hover{
    color:#08c;
    color:var(--link-color);
    text-decoration:none
}
header .menu{
    display:none;
    position:absolute;
    left:0;
    margin-top:1px;
    padding-top:3rem;
    text-align:left;
    width:100vw;
    overflow:hidden;
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    box-shadow:var(--header-menu-shadow);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(10px);
    background-color:rgba(255,255,255,.8);
    background-color:var(--header-menu-background-color)
}
@media only screen and (max-width:600px){
    header{
        padding-top:1rem
    }
}
@media only screen and (max-height:415px) and (max-width:920px){
    header{
        padding-top:1rem
    }
    @supports (padding:max(0px)){
        #content,footer,header,header .menu{
            box-sizing:border-box;
            padding-left:env(safe-area-inset-left);
            padding-right:env(safe-area-inset-right)
        }
    }
}
:root{
    --color-gray-20:#e0e0e0;
    --background-color:#fff;
    --text-color:var(--color-gray-90);
    --syntax-tab-size:2
}
@media (prefers-color-scheme:dark){
    :root{
        --color-gray-20:#e0e0e0;
        --background-color:#15202b
    }
}
body,html{
    padding:0;
    margin:0 auto;
    background-color:var(--background-color)
}
html{
    overflow-y:scroll
}
.visually-hidden{
    clip:rect(0 0 0 0);
    clip-path:inset(50%);
    height:1px;
    overflow:hidden;
    position:absolute;
    white-space:nowrap;
    width:1px
}
p:last-child{
    margin-bottom:0
}
li,p{
    line-height:1.5
}
main :first-child{
    margin-top:0
}
header{
    border-bottom:1px dashed var(--color-gray-20);
    display:flex;
    gap:1em .5em;
    flex-wrap:wrap;
    align-items:center;
    padding:1em
}
header:after{
    content:"";
    display:table;
    clear:both
}
.links-nextprev{
    list-style:none;
    border-top:1px dashed var(--color-gray-20);
    padding:1em 0
}
pre:not([class*=language-]){
    margin:.5em 0;
    line-height:1.375;
    -moz-tab-size:var(--syntax-tab-size);
    -o-tab-size:var(--syntax-tab-size);
    tab-size:var(--syntax-tab-size);
    -webkit-hyphens:none;
    -ms-hyphens:none;
    hyphens:none;
    direction:ltr;
    text-align:left;
    white-space:pre;
    word-spacing:normal;
    word-break:normal
}
.home-link{
    font-size:1em;
    font-weight:700;
    margin-right:2em
}
.home-link:link:not(:hover),.nav-item a[href]:not(:hover){
    text-decoration:none
}
.nav{
    display:flex;
    padding:0;
    margin:0;
    list-style:none
}
.nav-item{
    display:inline-block;
    margin-right:1em
}
.post-tag{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    text-transform:capitalize;
    font-style:italic
}
.post-metadata{
    display:inline-flex;
    flex-wrap:wrap;
    gap:.5em;
    list-style:none;
    padding:0;
    margin:0
}
.post-metadata time{
    margin-right:1em
}
.header-anchor{
    text-decoration:none;
    font-style:normal;
    font-size:1em;
    margin-left:.1em
}
a[href].header-anchor,a[href].header-anchor:visited{
    color:transparent
}
a[href].header-anchor:focus,a[href].header-anchor:hover{
    text-decoration:underline
}
:hover>a[href].header-anchor,a[href].header-anchor:focus{
    color:#aaa
}
h2+.header-anchor{
    font-size:1.5em
}
#social-icons{
    display:flex;
    justify-content:center
}
main p,main pre{
    margin-bottom:3rem
}
main h3{
    margin-bottom:.5rem;
    font-size:2.4rem;
    line-height:1.09375;
    font-weight:500;
    letter-spacing:-.011rem
}
main{
    width:100vw;
    overflow-x:hidden;
    box-sizing:border-box;
    padding:3rem 0 0;
    background-color:#f7f7f7;
    background-color:var(--content-background-color);
    max-width:1140px;
    margin:0 auto
}