* {
	box-sizing: border-box;
}

body,html {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Cantarell,Ubuntu,roboto,noto,arial,sans-serif;
}

html {
	font-size: 106.25%;
	quotes: "“""”";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	background-color: #fff;
	color: #1d1d1f;
	font-style: normal;
	font-synthesis: none;
	-moz-font-feature-settings: "kern";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	text-align: left;
	min-width: 320px;
}

p:last-child {
	margin-bottom: 0;
}

main {
	display: block;
	padding: 1rem;
}

main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.home-link:link:not(:hover),.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

h1,h2 {
	font-weight: 600;
	color: #1d1d1f;
}

h1+*,h2+*,p+*,ul+* {
	margin-top: .8em;
}

h1+h1,h1+h2,h2+h1,h2+h2 {
	margin-top: .4em;
}

p+h1,p+h2,ul+h1,ul+h2 {
	margin-top: 1.6em;
}

ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

nav ul {
	margin: 0;
	list-style: none;
}

li li {
	font-size: 1em;
}

a {
	color: #06c;
	letter-spacing: inherit;
}

a:link,a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

a:disabled {
	opacity: .32;
}

.main {
	padding: 0;
	overflow-x: hidden;
}

h1,h2,li,p,ul {
	margin: 0;
	padding: 0;
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}

:root {
	--color-gray-20: #e0e0e0;
}

@media (prefers-color-scheme:dark) {
	:root {
		--color-gray-20: #e0e0e0;
	}
}

body,html {
	padding: 0;
	margin: 0 auto;
}

html {
	overflow-y: scroll;
}

body {
	max-width: 40em;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

.home-link {
	font-size: 1em;
	font-weight: 700;
	margin-right: 2em;
}

.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-right: 1em;
}

.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}